body {
  margin: 0;
  height: 100vh;
  background: #000;
  color: #eee;
  font-family: sans-serif;
  
}

.app-wrapper {
  display: flex;
  height: 100vh;
  overflow: hidden; /* 親要素自体はスクロールさせない */
}

.sidebar {
  width: 10vw;
  background: #1a1a1a;
  padding: 15px;
  border-right: 1px solid #333;
  display: flex;
  flex-direction: column;
  gap: 15px;
  overflow-y: auto;
  flex-shrink: 0; /* サイドバーが潰れないように固定 */
  overflow: hidden; /* 親要素自体はスクロールさせない */
}

h2, h3 { margin: 0; color: #00d1b2; font-size: 1rem; }
h4 { margin: 0 0 5px 0; font-size: 0.9rem; text-align: center; color: #888; }

.info-panel { font-size: 0.8rem; background: #222; padding: 10px; border-radius: 4px; }
.info-item { display: flex; justify-content: space-between; margin-bottom: 3px; }

.control-section { display: flex; flex-direction: column; gap: 8px; font-size: 0.85rem; }
input[type=range] { width: 100%; margin: 5px 0; }

.viewer-main {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
}

.view-group {
  display: flex;
  width: 100%;
  height: 100%;
  gap: 10px;
  justify-content: space-around;

}

.view-box {
  flex: 1;
  display: flex;
  flex-direction: column;
  min-width: 0; /* flexの子要素がはみ出さないように */
  height: 90vh;
  border-radius: 4px;
  
  justify-content: center;
}

.canvas-container {
  flex: 1;
  background: #000;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

#axial, canvas {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain; /* アスペクト比を維持して最大化 */
}
/* タイトルをクリック可能にする */
.view-title {
  color: #00d1b2;
  background: #ffffff;
  cursor: pointer;
  transition: color 0.2s, background 0.2s;
  padding: 5px;
  border-radius: 4px;
}

.view-title:hover {
  color: #00d1b2;
  background: #575757;
}

/* 拡大モードの制御 */
.view-group.max-mode .view-box {
  display: none; /* 一旦すべて非表示 */
}

.view-group.max-mode .view-box.active {
  display: flex; /* クリックしたものだけを表示 */
  flex: 1;
  height: 90vh;
}
.view-group.max-mode .view-box.active #coronal{
  display: flex; /* クリックしたものだけを表示 */
  flex: 1;
  height: 90vh;
}
.view-group.max-mode .view-box.active #sagittal{
  display: flex; /* クリックしたものだけを表示 */
  flex: 1;
  height: 90vh;
}
/* 拡大時の文字に（戻る）などのガイドを出すための装飾（任意） */
.view-group.max-mode .view-box.active .view-title::after {
  content: " (Click to back)";
  font-size: 0.7rem;
  opacity: 0.7;
}
.view-3d {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

#vtkContainer {
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
    background: black;
}

/* canvas が親を突き破るのを防ぐ */
#vtkContainer canvas {
    width: 100% !important;
    height: 100% !important;
    display: block;
}
